.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
font-size: 30px;
font-family: serif;
color: rgb(255, 255, 255);
}
body
{
    background-size: cover;
}
.div_speed
{
    float: left;
}
.div_speed
{
    width: 10px;
    border-radius: 100px;
}


.div_speed
{
    float: left;
}
.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}
#speed
{
    font-size: 23px;
    margin: 15px;
    font-family: Arial;
    color: rgb(255, 255, 255);
}

.div_volumen
{
    float: right;

}
.div_volumen_img
{
    width: 200px; ;
    border-radius: 100px;
}
#volumen
{
    font-size: 23px;
    margin: 15px;
    font-family: Arial;
    color: rgb(255, 255, 255);
   }
   #speed
{
    font-size: 23px;
    margin: 15px; 
    font-size: 30px;
   font-family: Arial;
 color: rgb(255, 255, 255);
}
.play_button
{
    width: 130px;
    font-size: 25px;
}
canvas
{
    border: 5px solid white ;
    border-radius: 20px;
    margin: 100px;
}
